<div class="wrapper">
    <form *ngIf="user">
        <label for="username">Username: </label>
        <input id="username" [(ngModel)]="user.name" placeholder="username" [ngModelOptions]="{ standalone: true }" >
  
        <label for="password">Password: </label>
        <input id="password" [(ngModel)]="user.password" placeholder="password" [ngModelOptions]="{ standalone: true }" >
      <button (click)="login(user)">Search</button>
    </form>
  
    <label  for="token">Token: </label>
    <div *ngIf="token">
      <textarea  id="token">{{token}}</textarea>
    </div>
    <form>
        <label for="login">Login: </label>
        <input id="login" [(ngModel)]="getToken" placeholder="token" [ngModelOptions]="{ standalone: true }" >
      <button  (click)="getUser(getToken)">Get user</button>
    </form>
  
    <div>
      Id: <div *ngIf="iuser"> {{iuser.userId}}</div>
      Username: <div *ngIf="iuser"> {{iuser.name}}</div>
    </div>
  </div>